
    <%- include('partials/header.html') %>

        <section class="noticia-destaque">
            <div class="center">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>
                    <div class="title-destaque-descricao">
                        <h2>Quer Fugir das Praias de Verão?</h2>
                        <p>Donec consectetur libero eget bibendum ullamcorper. Quisque auctor nulla eu enim ultrices laoreet. Nam eget neque odio. Sed vehicula imperdiet diam, a lacinia dui dictum a. In hac habitasse platea dictumst. Sed dapibus tellus ac turpis elementum, in sollicitudin lacus vehicula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla nisl nibh, porttitor ut magna sed, sollicitudin vulputate lectus. Donec euismod a lectus non feugiat. Suspendisse vitae magna sit amet tortor ultricies ornare. Morbi sollicitudin massa jl</p>
                    </div>
                    <img src="/public/images/landscape.jpg" />
                </div>
            </div>
        </section>

        <section class="outra-noticias">
            <div class="title-outras-noticias">
                <h2>Ultimas Noticias</h2>
                <br><br>
                <div class="center">
                    <div class="ultimas">
                        <div class="box-ultima-single">
                            <img src="/public/images/coast_stones_sea.jpg"/>
                            <div class="conteudo-noticia-single">
                                <h3>Natureza e Geral</h3>
                                <h2>Como encarar o surf em floripa</h2>
                                <p>A águas gelada e o vento pode acabar com a sua felicidade de ir para água. 
                                Cientistas afirmam que as chance de importemia é real e você precisa se cuidar. Veja Como </p>
                                <a href="/saiba mais">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                    <div class="ultimas">
                        <div class="box-ultima-single">
                            <img src="/public/images/coast_stones_sea.jpg"/>
                            <div class="conteudo-noticia-single">
                                <h3>Natureza e Geral</h3>
                                <h2>Como encarar o surf em floripa</h2>
                                <p>A águas gelada e o vento pode acabar com a sua felicidade de ir para água. 
                                Cientistas afirmam que as chance de importemia é real e você precisa se cuidar. Veja Como </p>
                                <a href="/saiba mais">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                    <div class="mais-lidas">
                        <h3>Mais Lidas</h3>
                        <div class="mais-lidas-noticias">
                            <div class="mais-lida-noticias-single">
                                <img src="/public/images/tree_fog_mountains.jpg">
                                <div class="texto-mais-lida-single">
                                    <h4>Natureza</h4>
                                    <p>A importancia da floresta do artico para a biodiversidade mundial.
                                    Qual o impacto o degelo na fauna e flora?</p>
                                    <a href="/saiba mais">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticias-single">
                                <img src="/public/images/tree_fog_mountains.jpg">
                                <div class="texto-mais-lida-single">
                                    <h4>Natureza</h4>
                                    <p>A importancia da floresta do artico para a biodiversidade mundial.
                                    Qual o impacto o degelo na fauna e flora?</p>
                                    <a href="/saiba mais">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticias-single">
                                <img src="/public/images/tree_fog_mountains.jpg">
                                <div class="texto-mais-lida-single">
                                    <h4>Natureza</h4>
                                    <p>A importancia da floresta do artico para a biodiversidade mundial.
                                    Qual o impacto o degelo na fauna e flora?</p>
                                    <a href="/saiba mais">Saiba Mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticias-single">
                                <img src="/public/images/tree_fog_mountains.jpg">
                                <div class="texto-mais-lida-single">
                                    <h4>Natureza</h4>
                                    <p>A importancia da floresta do artico para a biodiversidade mundial.
                                    Qual o impacto o degelo na fauna e flora?</p>
                                    <a href="/saiba mais">Saiba Mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer.html') %>

    </body>
</html>