<%- include('partials/header.html') %>


<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2>Dez principais habilidades para se tornar um desenvolvedor full-stack em 2022.</h2>
            <div class="autor-nome">
                <span>Por Jefferson Garcia</span>
                <p>
                    No mundo de hoje, se falamos de versatilidade proficional, não ha ninguém melhor do que um Desenvolvedor Full Stack para  representar o termo "Versatil".
                    Bem completo em desenvolvimento web front-end e back-end, os Desenvolvedores Full Stack são profissionais multi-talentosos que todas as empresa e mercado desejam.
                    
                    Dede o inicio da era digital, mais e mais empresas e organizações estão criando sua presença online exclusiva por meio de seus sites.
                    Naturalmente, o dominio do desenvolvimento web esta testemunhado o crescimento como nunca antes, e concerteza a demanda por desenvolvedor Full Stack experientes e qualificados
                    aumento consideravelmente.

                    Gostaria de fazer parte desse time? Então não sai desse post pois hoje nós iremos aprender
                    <h3>Quem é um desenvolvedor Full Stack?</h3>
                    Para compreender totalmente a função de um Desenvolvedor Full Stack, você precusa entender os componentes
                    do desenvolvimento web.
                </p>
            </div>
        </div>
        <div class="mais-lidas">
            <h3>Mais Lidas</h3>
            <div class="mais-lidas-noticias">
                <div class="mais-lida-noticias-single">
                    <img src="/public/images/tree_fog_mountains.jpg">
                    <div class="texto-mais-lida-single">
                        <h4>Natureza</h4>
                        <p>A importancia da floresta do artico para a biodiversidade mundial.
                        Qual o impacto o degelo na fauna e flora?</p>
                        <a href="/saiba mais">Saiba Mais</a>
                    </div>
                </div>
                <div class="mais-lida-noticias-single">
                    <img src="/public/images/tree_fog_mountains.jpg">
                    <div class="texto-mais-lida-single">
                        <h4>Natureza</h4>
                        <p>A importancia da floresta do artico para a biodiversidade mundial.
                        Qual o impacto o degelo na fauna e flora?</p>
                        <a href="/saiba mais">Saiba Mais</a>
                    </div>
                </div>
                <div class="mais-lida-noticias-single">
                    <img src="/public/images/tree_fog_mountains.jpg">
                    <div class="texto-mais-lida-single">
                        <h4>Natureza</h4>
                        <p>A importancia da floresta do artico para a biodiversidade mundial.
                        Qual o impacto o degelo na fauna e flora?</p>
                        <a href="/saiba mais">Saiba Mais</a>
                    </div>
                </div>
                <div class="mais-lida-noticias-single">
                    <img src="/public/images/tree_fog_mountains.jpg">
                    <div class="texto-mais-lida-single">
                        <h4>Natureza</h4>
                        <p>A importancia da floresta do artico para a biodiversidade mundial.
                        Qual o impacto o degelo na fauna e flora?</p>
                        <a href="/saiba mais">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer.html') %>

</body>
</html>