<!DOCTYPE html>
<head>
    <title>Construindo com EJS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <style>
        body {padding-top: 50px;}
    </style>
</head>
<body class="container">
    <header>
        <nav class="navbar navbar-expend-lg navbar-ligth bg-light">
            <a class="navbar-brand" href="/">EJS</a>
        </nav>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Node com EJS</h1>
            <p>Vamos trabalhar com arquivos EJS</p>
        </div>
    </main>

    <footer>
        <p class="text-center text-muted">Construindo um ecosistema que vai mudar vidas!</p>
    </footer>
</body>
</html>